.taskSelectNavItem {
  display: flex;
  list-style: none;
  text-align: left;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3em;
  border: 1px solid #555975;
  border-radius: 5px;
  margin-top: 0.2em;
  background-color: #272834;
}

.taskSelectNavItemChosen {
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3em;
  border: 1px solid #885975;
  border-radius: 5px;
  margin-top: 0.2em;
  background-color: #472834;
  text-align: center;
}

.syslabContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #080914;
}

.taskSelectNavList {
  flex: 1;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 130px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #1a1b26;

}

.taskListContainer {
  display: flex;
  background-color: #0f101b;
  flex-direction: column;
}