.syslab_context {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 4;
  min-width: 350px;
}

.syslabTopBar {
  display: flex;
  width: 100%;
  height: 2em;
  background-color: #1a1b26;
  border-bottom: 1px solid #3a3b46;
  background-color: #1a1b26;
  text-align: center;

}

.syslabTopBar span {
  flex: 1;
  color: #babbc6;
  font-family: 'Monospace';
  font-weight: 600;
  font-size: 16pt;
  justify-items: center;
  vertical-align: middle;
}


.syslabStack {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: #0f101b;
  overflow: hidden;
}