.vmTabTitle {
  display: flex;
  margin-left: 5px;
  padding-left: 0.25em;
  color: black;
  background-color: #38e4c2;
  width: 100px;
  flex-direction: row;
}

.vmClose {
  padding-right: 0.25em;
  padding-left: 0.25em;
  cursor: pointer;
}

.vmTabObject {
  display: flex;
  flex: 1;
  border-left: 5px solid #1a1b26;
  border-right: 5px solid #1a1b26;
}

.vmTitle {
  flex: 1;
}